<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Examiner</title>
    <%- include('partials/ess1.ejs') %>
  </head>
  <body>
    <h1 class="fs-1">Hello, world!</h1>
    <div class="w-50 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <%- include('partials/ess2.ejs') %>
  </body>
</html>
