<html>
  <head>
    <title>Student Report Card</title>
  </head>
  <link rel="stylesheet" href="/public/report.css" />
  <style>
    {{! h2{ color: blueviolet; } }}
    {{style}}
  </style>
  <body>
    <h1>Student Report Card</h1>
    <h2>Hello, {{name}}</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Exam Date</th>
        <th>Positive Marks</th>
        <th>Negative Marks</th>
        <th>Max Marks</th>
        <th>Total Marks</th>
        <th>Percentage</th>
      </tr>
    </table>
  </body>
</html>